body {
    background: lightslategray;
    font-family: Arial, sans-serif;
}
.box-id {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene {
    perspective: 1000px;
}
.card {
    width: 260px;
    height: 420px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}
.scene:hover .card {
    transform: rotateY(180deg);
}
.id-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    backface-visibility: hidden;
}
.front {
    text-align: center;
}
.back {
    transform: rotateY(180deg);
    /* padding: 15px; */
}
.header-img {
    margin-top: 10px;
}
.h-img {
    width: 60%;
}
.p-img {
    width: 80px;
    margin: 10px 0;
}
.emp-details span {
    display: block;
    font-weight: bold;
    margin: 3px 0;
}
.barcode i {
    font-size: 24px;
    margin: 5px -2px;
}
.authorised-sign {
    text-align: right;
    padding-right: 10px;
}
.s-img {
    width: 70px;
}
.down-block,
.bs-down-block {
    background: green;
    color: white;
    font-size: xx-small;
    padding: 5px;
    text-align: center;
    position: absolute;
    width: 96%;
}
.address, .emp-data {
    margin-bottom: 10px;
}
.emp-data h4 {
    margin: 5px 0 0;
}
.emp-data p {
    margin: 0 0 5px;
}
.bs-down-block {
    background: black;
}
